body {
  padding-top: 0px;
}

/* Title Row Styles */
.title-row {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Navigation Bar Styles */
.sidebar {
  background-color: #fff;
  color: #050000;
  padding: 20px;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
}

/* Top Summary Styles */
.summary-content {
  border: 2px solid gray;
}

div,
form,
input {
  margin: 5px;
  width: 100%;
}

.add-city {
  background-color: #03a9f4;
  color: #fff;
  width: 100%;
  border-radius: 8px;
}

.search-history-item {
  width: 100%;
  background-color: slategrey;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
}

/* 5 Day Forecast Cards */
.forecast-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.forecast-card {
    flex: 0 0 calc(18% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}


@media (max-width: 576px) {
    .forecast-card {
        flex: 0 0 100%;
        margin-right: 0;
    }
}


